h1 {
    margin-top: 2rem;
    margin-left: 1rem;
    background-color: rgb(218, 214, 214);
}

h5{
    margin-left: 1rem;
}


form{
    margin: 2rem;
}

table{
    margin: 3rem;
}

.imagendebancoyformulario{
    position: flex;
    background-color: aqua;
}

.imagendebanco {
   
    position: absolute;
    margin-left: 55vw;
    margin-top: -7vh;
}

.formulario {
    font-weight: bold;
    width: 50%;
    height: 20rem;
    background-color: rgb(201, 201, 238);
}

.tabla {
    background-color: rgb(96, 223, 96);
}